
@media (min-width:340px) and (max-width: 640px) {
  #showcase .main-text {
    text-align: center;
  }

  #showcase .main-image{
    margin-left: 20px;
  }

  #showcase p {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width:992px){
  #showcase img {
    text-align: left;
  }
}

@media (min-width: 992px) and (max-width:1200px) {
  #showcase img {
    text-align: left;
  }
}

.main-text{
  center;
}

.navbar-default {
  background: #fff;
  border: 0;
}

.beautybox {
  font-family: Parisienne;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto;
  color: pink;
  text-align: center;
}

.main-text{
  text-align: right;
}

.about {
    padding-bottom: 30px;
    font-family: Parisienne;
    font-weight: bold;
    color: pink;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


h1{
  color: pink;
}
.rounded-circle{
  border-radius: 50%;
  text-align: center;
}
p {
  font-family: Raleway;
}

.btn {
  color: #db90b2;
}

.navbar-brand{
  font-size: 20px;
  color: pink !important;
  font-weight: bold;
}

body {
  margin-top: 70px;
  font-size: 16px;
}

#showcase h1{
  font-size: 50px;
  margin-bottom: 20px;
  text-align: right;
}

#showcase img{
  width: 90%;
  margin-top: -15%;
  margin-left: -20px;
}

#showcase .showcase-right{
  margin-top: 90px;
  text-align: right;
}


#testimonial{
  background: #DAE2F8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #D6A4A4, #DAE2F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 50px 0 30px 0;
  text-align: center;
  margin-top: 40px;
  color: white;
}

#testimonial p{
  font-size: 20px;
  font-family: 'Josefin Sans'
  color: black;
}

#testimonial p.customer{
  font-size: 20px;
  color: #666;
  text-align: center;
}

#info3 .info-right{
  margin-top: 90px;
}
.card-flip {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.card-flip:hover .flip, .card-flip.hover .flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card-flip,
.front,
.back {
  width: 100%;
  height: 480px;
}

.flip {
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

label{
  color: white;
  font-size: 14px;
  font-family: Raleway;
}

#info4{
  margin-left: 20px 0 60px 0;
}

.heart{
  width: 300px;
}

footer {
  padding: 40px;
}


#contact {
    background: #DAE2F8;
    background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);
    background: linear-gradient(to right, #D6A4A4, #DAE2F8);
    padding: 40px;
}

.form-control{
  background-color: transparent;
  color: white;

}
